@font-face {
    font-family: nameFont;
    src: url(Comfortaa-Regular.ttf);
}
p {
   font-family: nameFont; 
}
li {
   font-family: nameFont; 
}
#name {
    color: #EA634A;
    font-size: 60px;
    width: 50%;
    margin-left: 8%;
    margin-top: 300px;
}

.section-div {
    height:100vh;
}

.section-title {
    margin-left: 8%;
    font-size: 30px;
}

#about-me-text {
    margin-left: 8%;
    width: 66%;
    font-size: 15px;
    position:relative; 
    top: 33%;
}

.sidebar {
    left = 90%;
    position: fixed;
}
svg {
    position: fixed;
}
canvas {
    z-index: 1000;
}