@font-face {
    font-family: nameFont;
    src: url(Comfortaa-Regular.ttf);
}
p {
   font-family: nameFont;
}
li {
   font-family: nameFont;
}
a {
    font-family: nameFont;
}
.screenshots {
    display: none;
}
.section-div {
    margin-left: 8%;
}

#projects-div {
    margin-left: 8%;
    width: 80%;
    display: block;
}
#name {
    color: #EA634A;
}

#resume-div {
    margin-left: 8%;
    margin-bottom: 10%;
}

#contact-me-div {
    margin-left: 8%;
    margin-bottom: 10%;
}
