#toggle {
    left: 80%;
    width: 25%;
    display: none;
}

li {
   font-family: nameFont; 
}
#name {
    color: #EA634A;
    font-size: 60px;
    width: 50%;
    margin-left: 8%;
    margin-top: 300px;
}

.section-title {
    font-size: 30px;
}

.title {
    font-size: 20px;
}

#about-me-text {
    width: 66%;
    font-size: 15px;
    position:relative; 
    top: 33%;
}
#projects-div {
    margin-left: 8%;
    width: 80%;
    display: block;
}
.sidebar {
    left = 90%;
    position: fixed;
}
canvas {
    z-index: 1000;
}
div.project {
    width: 80%;
    margin-top: 4%;
}

img.plus {
    position: absolute; 
    left: 75%;
}