div.project {
    padding-top: 10px;
    margin:auto;
    text-align: center;
}
.section-title {
    font-size: 25px;
}
#name {
    font-size: 50px;
    width: 75%;
}

.section-div {
    height: auto;
    width: 80%;
}
#toggle_div {
    display: block;
    position: fixed;
    z-index: 1000;
    right: 0px;
    padding: 10%;
}
#toggle {
    float: right;
    width: 15%;
}
#toggle_menu {
    text-align: right;
    margin-top: 10%;
    display: none;
    float: right;
    font-size: 20px;
}
