div.project {
    padding-top: 10px;
    margin:auto;
    text-align: center;
}
.section-title {
    font-size: 25px;
}
#name {
    font-size: 50px;
    width: 75%;
}

.section-div {
    height: auto;
}